h1,
body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/background.jpg) no-repeat bottom center;
    background-size: cover;
    font-family: '宋体';
}

ul {
    height: 60px;
    display: flex;
}

li {
    width: 80px;
    margin: 0 10px;
    border: 3px solid #000;
    background-color: rgba(00, 00, 00, .3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all .1s linear;
    border-radius: 5px;
    box-sizing: border-box;
}

li span {
    font: 12px '黑体';
    color: #e7b50f;
    letter-spacing: 1px;
}

.playing {
    border-color: #e7b50f;
    transform: scale(1.1);
    box-shadow: 0 0 12px #e7b50f;
}