input,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    background-color: rgb(245, 205, 10);
}

.box {
    position: relative;
    width: 500px;
    height: 100px;
    margin: 100px auto;
    background-color: #fff;
    border: 10px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #eaeaea inset, 0 0 5px rgba(00, 00, 00, .2);
}

.box input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 40px;
    text-align: center;
    color: #000;
    outline: none;
}

.box ul {
    position: absolute;
    top: 107px;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    z-index: -1;
}

.box ul li {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
    font: 20px/70px '宋体';
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.box ul li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

.box ul li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}