:root {
    --spacing: 10px;
    --blur: 7px;
    --color: #ff8800;
}

body {
    margin: 0;
    background-color: #193549;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 80px;
}

span {
    color: var(--color);
}

label {
    font: 50px '宋体';
}

input {
    margin: 0 15px;
}

input[type=color] {
    color: #ff8800;
}

input[type=color] {
    width: 100px;
}

img {
    height: 375px;
    width: 600px;
    margin: 20px auto;
    padding: var(--spacing);
    background-color: var(--color);
    filter: blur(var(--blur));
}