body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://fastly.picsum.photos/id/881/1500/1000.jpg?blur=5&hmac=wSpZ-UlEtKsvnxXigvyNIbudlXANuQMJpe19ZvEjebw') no-repeat;
    background-size: cover;
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    /* background-color: #fff; */
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(00, 00, 00, .4), 0 0 1px 3px rgba(255, 255, 255, 1) inset, 0 0 8px 3px rgba(00, 00, 00, .4) inset;
}

.clock::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
}

.clock span {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 5px;
    border-radius: 5px 5px 0 0;
    background-color: #000;
    transform-origin: bottom;
}

.hour {
    height: 90px;
    /* transform: translateX(-50%)rotate(55deg); */
}

.minuter {
    height: 120px;
    /* transform: translateX(-50%) rotate(95deg); */
}

.second {
    height: 140px;
    /* transform: translateX(-50%) rotate(60deg); */
}